$TTL 2d
$ORIGIN home.peekingface.eu.

@               IN      SOA     dns-01.home.peekingface.eu.  info.home.peekingface.eu. (
                                {{ ansible_date_time.epoch }}  ; serial updated by ansible
                                12h         ; refresh
                                15m         ; retry
                                3w          ; expire
                                2h          ; minimum ttl
                                )

                IN      NS      dns-01.home.peekingface.eu.

router          IN      A       192.168.2.1
tpswitch        IN      A       192.168.2.2
dns-01          IN      A       192.168.2.7
dns-02          IN      A       192.168.2.8
truenas         IN      A       192.168.2.11

dockerix        IN       A      192.168.2.190
homepage        IN       A      192.168.2.190
mstream         IN       A      192.168.2.190
ytdl            IN       A      192.168.2.190
photos          IN       A      192.168.2.190

immich          IN       A      192.168.2.191

salamix         IN       A      192.168.2.201

immich          IN       A      192.168.2.202
