acl internal {
    192.168.0.0/16;
    127.0.0.0/16;
    172.18.0.0/16;
};

options {
    forwarders {
{% for item in dns_forwarders %}
        {{ item.ip }};
{% endfor %}
    };
    allow-query { 
        internal; 
    };
    zone-statistics yes;
};

zone "{{ domain_name }}" IN {
    type primary;
    file "/etc/bind/{{ peekingface_zone_file }}";
};
