---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Developer:
    - Codeberg:
        - abbr: CB
          href: https://codeberg.org/goeldi/
    
- News:
    - Hacker News:
        - abbr: HN
          href: https://news.ycombinator.com/
    - golem:
        - abbr: GO 
          href: https://www.golem.de/ticker/
    
- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/

