---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- proxmox:
    - talentix:
        icon: proxmox.png
        href: https://192.168.2.35:8006
        ping: https://192.168.2.35
        widget:
            type: proxmox
            url: https://192.168.2.35:8006
            username: api@pam!homepage
            password: 976b3042-fdfb-4066-b98e-27f3f63a62bf
            node: talentix 
    - magnix:
        icon: proxmox.png
        href: https://192.168.2.20:8006
        ping: https://192.168.2.20
        widget:
            type: proxmox
            url: https://192.168.2.20:8006
            username: api@pam!homepage
            password: 976b3042-fdfb-4066-b98e-27f3f63a62bf
            node: magnix 
    - tick:
        icon: proxmox.png
        href: https://192.168.2.31:8006
        ping: https://192.168.2.31
        widget:
            type: proxmox
            url: https://192.168.2.31:8006
            username: api@pam!homepage
            password: 976b3042-fdfb-4066-b98e-27f3f63a62bf
            node: tick 

- network:
    - traefik:
        icon: traefik.png
        href: http://{{ inventory_hostname }}.{{ domain_name }}:8080
        description: reverse proxy
        container: traefik
        widget:
            type: traefik
            url: http://{{ inventory_hostname }}.{{ domain_name }}:8080
    - dozzle:
        description: docker log viewer
        href: https://dozzle.home.peekingface.eu/
        container: dozzle
    - DNS-01:
        icon: mdi-dns
        href: http://192.168.2.7
        ping: http://192.168.2.7
    - DNS-02:
        icon: mdi-dns
        href: http://192.168.2.8
        ping: http://192.168.2.8
    - switch:
        icon: mdi-network
        href: http://192.168.2.2
        ping: http://192.168.2.2
    - router:
        icon: mdi-router-network-wireless
        href: http://192.168.2.1
        ping: http://192.168.2.1

- media:
    - mstream:
        icon: mdi-music-box
        href: http://mstream.home.peekingface.eu/
        container: mstream
        showStats: true
    - youtubedl:
        icon: mdi-youtube
        href: http://ytdl.home.peekingface.eu/
        container: ytdl
    - immich:
        icon: immich.png
        href: https://photos.home.peekingface.eu
        ping: 192.168.2.191
#        widget:
#            type: immich
#            key: c9mV0Bqid7fzdVVdvfX3LlmZOe83NvFK0s5O8wkDo
#            url: https://photos.home.peekingface.eu
#            version: 2

- storage:
    - truenas:
        icon: truenas.png
        href: http://192.168.2.11
        ping: http://192.168.2.11
        
#- storage:
#    - forgejo:
#        icon: forgejo.png
#        href: https://forgejo.{{ domain_name }}
#        description: git server
#        container: forgejo
#        widget:
#            type: gitea
#            url: https://forgejo.{{ domain_name }}
#            key: d33c104bde53caddc21da6ed0f8f3906f0a630b1
