---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: peekingface
theme: dark

dockerStats: true
statusStyle: "basic"

loyout:
    proxmox:
        style: row
        columns: 3

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey


