$TTL 2d
$ORIGIN thinkingface.dev.

@               IN      SOA     dns-01.thinkingface.dev.  info.thinkingface.dev. (
                                {{ ansible_date_time.epoch }}  ; serial updated by ansible
                                12h         ; refresh
                                15m         ; retry
                                3w          ; expire
                                2h          ; minimum ttl
                                )

                IN      NS      dns-01.thinkingface.dev.

majestix        IN      A       192.168.2.1
tpswitch        IN      A       192.168.2.2
pihole          IN      A       192.168.2.5
dns-01          IN      A       192.168.2.6
truenas         IN      A       192.168.2.11

magnix          IN      A       192.168.2.20
grobianix       IN      A       192.168.2.26
tick            IN      A       192.168.2.31
talentix        IN      A       192.168.2.35
haos            IN      A       192.168.2.41
numerobis       IN      A       102.168.2.42

salamix         IN       A      192.168.2.201
*.salamix       IN       A      192.168.2.201

homepage        IN       A      192.168.2.201
forgejo         IN       A      192.168.2.201

immich          IN       A      192.168.2.202
*.immich        IN       A      192.168.2.202
