http:
    routers:
        immich:
            rule: "Host(`photos.home.peekingface.eu`)"
            service: immich
            entrypoints:
                - websecure
            tls:
                certResolver: myresolver


    services:
        immich:
            loadBalancer:
                servers:
                    - url: http://192.168.2.191:2283
